@import "../mixin";
@import "../variables";
@import "../animation/slider";

.unifiedCarousel {
  display: flex;
  flex-direction: column;
  > h3 {
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    padding: 20px;
  }
  .slick {
    position: relative;
    width: 100%;
    overflow: hidden;
    .sliderItems {
      display: flex;
      // animation: css-carousel-slider6 30s infinite;
      // animation-delay: 2s;
      @include sliderTransition(transform);
      > li {
        transform: scale(0.8);
        opacity: 0.5;
        transition: all 0.5s;
        > img {
          width: 60vw;
          height: auto;
        }
      }
      .currentShow {
        // position: absolute;
        // top: 0;
        // left: 20%;
        // z-index: 1;
        opacity: 1;
        transform: scale(1);
      }
    }
    .slickPrev,
    .slickNext {
      position: absolute;
      cursor: pointer;
      top: 42%;
      outline: none;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      height: 25px;
      width: 25px;
      z-index: 3;
      &:hover {
        border-color: $unified-very-light-gray;
        @include cursorTransition(border-color);
      }
    }
    .slickPrev {
      left: 2.5%;
      transform: rotate(-135deg);
    }
    .slickNext {
      right: 2.5%;
      transform: rotate(45deg);
    }
  }
  .slickDots {
    text-align: center;
    > li {
      display: inline-block;
      margin: 0 5px;
      > button {
        cursor: pointer;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: block;
        background-color: $palette-white;
        color: transparent;
        outline: none;
        &:active {
          background-color: $unified-very-light-gray;
          @include cursorTransition(background-color);
        }
      }
      .currentShow {
        background-color: $palette-black;
      }
    }
  }
}

//# global style
body {
  background: $unified-very-light-gray;
}
ul,
button {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
ul,
li {
  list-style: none;
}
img {
  border-style: none;
}
//# region end
