$palette-white: #fff;
$palette-black: #333;
$palette-heavy-black: #000;
$palette-red: #ea0000;
$palette-blue: #003399;
$palette-yellow: #fed327;
$palette-orange: #e17f08;
$palette-very-light-gray: #cdcdcd;
$palette-disabled: #a7a7a7;

$unified-cobalt-stone-blue: #025fae;
$unified-pacific-blue: #0098d8;
$unified-suva-gray: #868686;
$unified-white-smoke: #eeeeee;
$unified-very-light-gray: #cdcdcd;
$unified-gray95: #f2f2f2;

$unified-button-white-gradation: linear-gradient(to bottom, #fff, #f2f2f2);
